<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base :: Layout(~{::section})">

<head>
<meta charset="UTF-8">
<title>Contact Details</title>
</head>

<body>

	<section class="profileBanar">
		<div class="container"
			style="max-width: 100%; max-height: 100%; background: transparent !important;">
			<!-- Title -->
			<h1 class="text-center mb-5 fw-bold text-primary">Your Profile</h1>

			<div class="row align-items-center" th:if=${user}>
				<!-- Contact Image -->
				<div class="col-md-4 text-center">
					<img th:src="@{'/uploads/SCM_UserProfileImgs/' + ${user.imageUrl}}"
						style="width: 180px; height: 180px; object-fit: cover; border-radius: 50%;"
						alt="Contact Image">
					<h2 class="mt-3 fw-bold " th:text="${user.name}"></h2>
				</div>

				<!-- Contact Info -->
				<div class="col-md-8">
				<p class="fs-5">
						<strong style="color: #78CCBD;">User Id:</strong> <span
							th:text="SCMUSER+${user.id}"></span>
					</p>
					<p class="fs-5">
						<strong style="color: #78CCBD;">Email:</strong> <span
							th:text="${user.email}"></span>
					</p>
				
				<p class="fs-5">
						<strong style="color: #78CCBD;">Account Acitive:</strong> <span
							th:text="${user.enabled}"></span>
					</p>
					<p class="fs-5">
						<strong style="color: #78CCBD;">Description:</strong> <span
							th:text="${user.about}"></span>
					</p>

				
				</div>

				
			</div>
		</div>
	</section>







</body>
</html>
