<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base :: Layout(~{::section})">

<head>
<meta charset="UTF-8">
<meta name="_csrf" th:content="${_csrf.token}" />
<meta name="_csrf_header" th:content="${_csrf.headerName}" />


<title>Show Contats</title>
</head>

<body>
	<section class="">


		<!--  
<div  th:if="${session.message != null and session.message.type == 'success'}"
     class="alert alert-success" role="alert">
    <span data-bs-delay="3000" class="d-flex justify-content-center" th:text="${session.message.message}">success</span>
</div>
-->

		<h1 class="text-center my-4 fw-bold text-primary">Your Contacts</h1>

<div class="search-contaner my-4 text-center">
<div class="input-group">
<span class="input-group-text">
<i class="fas fa-search"></i>
</span >
    <input id="viewcontactssearchBox" class="form-control mr-sm-2 " type="search" placeholder="Search Your Contacts" aria-label="Search">
    </div>
    <div id="search-results" class="search-results">
   <!--  <p class="result">This is search results</p>
    <p class="result">This is search results</p>
    <p class="result">This is search results</p>
    <p class="result">This is search results</p>
    <p class="result">This is search results</p>
    <p class="result">This is search results</p> -->
    </div>

</div>

		<!-- this.cid = cid;
		this.name = name;
		this.nickName = nickName;
		this.work = work;
		this.email = email;
		this.imageURL = imageURL;
		this.description = description;
		this.phone = phone; -->
<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th scope="col">Contact Id</th>
					<th scope="col">Name</th>
					<th scope="col">Phone</th>
					<th scope="col">Email</th>
					<th scope="col">Action</th>

				</tr>
			</thead>
			<tbody>

				<tr th:each="c : ${contacts}">



					<td><a
						th:href="@{/user/show-contact/contactDetails/{cid}(cid=${c.cid}, page=${currentPage})}">
							<span th:text="${'SCM' + c.cid}"></span>
					</a></td>

					<td><img th:src="@{'/uploads/' + ${c.imageURL}}"
						alt="Contact Image" class="rounded-circle border" width="40"
						height="40"> <span th:text="${c.name}"></span></td>
					<td th:text="${c.phone}"></td>
					<td th:text="${c.email}"></td>
					<td>
						<form
							th:action="@{/user/show-contact/updateContact/{cid}(cid=${c.cid})}"
							method="post" style="display: inline;">
							<button type="submit" class="btn btn-sm btn-primary">Edit</button>
						</form>
						 <a th:onclick="|confirmDelete(${c.cid})|"
						class="btn btn-sm btn-danger">Delete</a>
					</td>

				</tr>

			</tbody>
		</table>
		</div>

		<!-- Pagination part -->
		<nav aria-label="Page navigation example" th:if="${totalPages > 0}">




			<!-- if pages is more then 5 -->
			<ul class="pagination d-flex justify-content-center "
				th:if="${totalPages > 5}">
				<li class="page-item"
					th:classappend="${currentPage == 0} ? 'disabled':'active'"><a
					class="page-link "
					th:href="@{'/user/show-contact/' + ${currentPage - 1}}">Previous</a></li>

				<!-- Always show first page -->
				<li class="page-item"
					th:classappend="${currentPage == 0} ? 'active'"><a
					class="page-link" th:href="@{'/user/show-contact/0'}">1</a></li>

				<!-- Show "..." if currentPage > 2 -->
				<li class="page-item" th:if="${currentPage > 2}"><span
					class="page-link">...</span></li>

				<!-- Only 1 before & 1 after current page -->
				<li class="page-item"
					th:each="i : ${#numbers.sequence(
                     currentPage-1 > 1 ? currentPage-1 : 1,
                     currentPage+1 < totalPages-1 ? currentPage+1 : totalPages-2)}"
					th:classappend="${i == currentPage} ? 'active'"><a
					class="page-link" th:text="${i+1}"
					th:href="@{'/user/show-contact/' + ${i}}"></a></li>

				<!-- Show "..." if currentPage < totalPages-3 -->
				<li class="page-item" th:if="${currentPage < totalPages-3}"><span
					class="page-link">...</span></li>

				<!-- Always show last page -->
				<li class="page-item" th:if="${totalPages > 1}"
					th:classappend="${currentPage == totalPages-1} ? 'active'"><a
					class="page-link" th:text="${totalPages}"
					th:href="@{'/user/show-contact/' + ${totalPages-1}}"></a></li>



				<li class="page-item"
					th:classappend="${currentPage + 1 >= totalPages} ? 'disabled':'active'"><a
					class="page-link"
					th:href="@{'/user/show-contact/' + ${currentPage + 1}}">Next</a></li>
			</ul>
			<!-- if pages is more then 5 end-->




			<!-- if pages is less then 5 -->
			<ul class="pagination d-flex justify-content-center "
				th:if="${totalPages <= 5}">
				<li class="page-item"
					th:classappend="${currentPage == 0} ? 'disabled':'active'"><a
					class="page-link "
					th:href="@{'/user/show-contact/' + ${currentPage - 1}}">Previous</a></li>


				<!-- if not more than 5 -->
				<li class="page-item"
					th:each="i : ${#numbers.sequence(1, totalPages)}"
					th:if="${totalPages <= 5}"
					th:classappend="${(i-1) == currentPage} ? 'active'"><a
					class="page-link" th:href="@{'/user/show-contact/' + ${i-1}}"
					th:text="${i}"></a></li>



				<li class="page-item"
					th:classappend="${currentPage + 1 >= totalPages} ? 'disabled':'active'"><a
					class="page-link"
					th:href="@{'/user/show-contact/' + ${currentPage + 1}}">Next</a></li>
			</ul>
			<!-- if pages is less then 5 end-->


		</nav>






		<!-- Toast -->
		<div aria-live="polite" aria-atomic="true" class="position-relative">
			<div class="toast-container position-fixed top-0 end-0 mt-5 me-3 p-3">

				<div th:if="${toastType} == 'success'"
					class="toast align-items-center text-white bg-success border-0"
					role="alert" aria-live="assertive" aria-atomic="true"
					data-bs-delay="3000" data-bs-autohide="true">
					<div class="d-flex">
						<div class="toast-body" th:text="${toastMessage}"></div>
						<button type="button"
							class="btn-close btn-close-white me-2 m-auto"
							data-bs-dismiss="toast"></button>
					</div>
				</div>
				<div th:if="${toastType} == 'info'"
					class="toast align-items-center text-black bg-info border-0"
					role="alert" aria-live="assertive" aria-atomic="true"
					data-bs-delay="3000" data-bs-autohide="true">
					<div class="d-flex">
						<div class="toast-body" th:text="${toastMessage}"></div>
						<button type="button"
							class="btn-close btn-close-white me-2 m-auto"
							data-bs-dismiss="toast"></button>
					</div>
				</div>

			</div>
		</div>


		<!-- Toast for sesstion
		<div aria-live="polite" aria-atomic="true" class="position-relative">
			<div class="toast-container position-fixed top-0 end-0 mt-5 me-3 p-3">

				<div th:if="${session.toastType} == 'success'"
					class="toast align-items-center text-white bg-success border-0"
					role="alert" aria-live="assertive" aria-atomic="true"
					data-bs-delay="3000" data-bs-autohide="true">
					<div class="d-flex">
						<div class="toast-body" th:text="${session.toastMessage}"></div>
						<button type="button"
							class="btn-close btn-close-white me-2 m-auto"
							data-bs-dismiss="toast"></button>
					</div>
				</div>
				<div th:if="${session.toastType} == 'info'"
					class="toast align-items-center text-black bg-info border-0"
					role="alert" aria-live="assertive" aria-atomic="true"
					data-bs-delay="3000" data-bs-autohide="true">
					<div class="d-flex">
						<div class="toast-body" th:text="${session.toastMessage}"></div>
						<button type="button"
							class="btn-close btn-close-white me-2 m-auto"
							data-bs-dismiss="toast"></button>
					</div>
				</div>

			</div>
		</div>
-->









		<script>
			document.addEventListener("DOMContentLoaded", function() {
				var toastEl = document.querySelector('.toast');
				if (toastEl) {
					var toast = new bootstrap.Toast(toastEl);
					toast.show();
				}
			});
		</script>

	</section>
</body>
</html>
